RewriteEngine On

Options +FollowSymLinks

RewriteBase /

#RewriteCond %{HTTP_HOST} ^www.catlink.eu [NC]
#RewriteRule ^(.*)$ http://catlink.eu/$1 [R=301,L]

#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule ^.* - [L,QSA]

#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule ^NEW/(.+)$ /api.php?link=$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([a-zA-Z0-9._-]+)/?$ /get.php?uri=$1 [L]

#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule ^NEW/[a-zA-Z0-9%]+$ /api.php?link=$1&cut=$2 [L]
